:root {
    --text-color: #000;
    --blue-color: #81B3D2;
    --blue-color-hover: #669EC0;
    --blue-color-focus: #5496BD;
    --gray-color: #eee;
    --gray-color-active: #BDBBBC;
    --page-gray-color: #F2F2F2;
    --wrapper-shadow-color: #888;
    --brown-color: #766357;
    --brown-color-hover: #604E43;
    --brown-color-active: #503E33;
    --white-color: #fff;
    --white-color-footer: rgba(255, 255, 255, 0.9);
    --primary-font: "PT Sans";
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Regular.woff2") format("woff2"),
    url("../fonts/PTSans-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

.page {
    background: var(--page-gray-color);
}

.page__body {
    display: grid;
    justify-items: center;
    font-family: var(--primary-font);
    background: var(--white-color);
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    align-items: center;
}

.wrapper {
    max-width: 1200px;
    box-shadow: 0 0 8px 0 var(--wrapper-shadow-color);
}

.title {
    margin: 0;
    padding: 0;
    font-size: 21px;
}

.title_bold {
    font-weight: bold;
}

.subtitle {
    margin: 0;
    padding: 0;
}

.button {
    width: 568px;
    height: 86px;
    color: var(--white-color);
    list-style-type: none;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;

}

.button_brown {
    background-color: var(--brown-color);
}

.button_blue {
    background-color: var(--blue-color);
}

.header {
    position: relative;
    z-index: 1;
    width: 100%;
}

.header__nav {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: 1fr / repeat( 5, 1fr);
    justify-items: center;
    list-style: none;
}

.header__link {
    transition: 0.2s ease;
    display: block;
    padding: 15px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    text-transform: uppercase;
}

.header__link:hover {
    color: var(--blue-color-hover);
}

.header__link:focus {
    color: var(--brown-color);
}

.header__link:active {
    color: var(--gray-color-active)
}

.header__logo {
    display: block;
    height: 70px;
    width: 138px;
    background: url("../img/logo.svg");
}

.head {
    position: relative;
    top: -15px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template: 1fr auto/ 100%;
    background: url("../img/welcome/bg-header.png") no-repeat top/cover;
}

.head__wrap-img {
    padding: 74px 0 54px 0;
    display: grid;
    grid-row-gap: 12px;
}

.head__img {
    width: 100%;
    display: block;
}

.head__title {
    padding: 42px 0;
}

.head__subtitle {
    padding-bottom: 52px;
}

.steps {
    display: grid;
    align-items: center;
}

.steps_col-2 {
    grid-template: 1fr / 1fr 2fr;
}

.steps_col-2_reverse {
    grid-template: 1fr / 2fr 1fr;
}

.steps_col-3 {
    grid-template: 1fr / 1fr 1fr 1fr;
}

.steps__bg-blue {
    background-color: var(--blue-color);
}

.steps_bg-gray {
    background-color: var(--gray-color);
}

.steps__img {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
}

.steps__img_city {
    background: url("../img/content/city.png") no-repeat center/cover;
}

.steps__img_devil {
    background: url("../img/content/devil.png") no-repeat center/cover;
}

.card {
    padding: 48px 48px;
}

.card_white {
    color: var(--white-color);
}

.card__icon {
    padding: 26px 0 26px;
}

.card__title {
    padding-bottom: 24px;
}

.search {
    display: grid;
    grid-template: repeat(3, 1fr)/1fr;
    justify-items: center;
    align-items: center;
}

.search__subtitle {
    margin-bottom: 48px;
}

.social {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 46px 46px 46px;
    grid-column-gap: 6px;
    justify-content: center;
    list-style-type: none;
}

.social__link {
    transition: 0.2s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    background-color: var(--blue-color);
}

.social__link:hover {
    background-color: var(--blue-color-hover);
}

.social__link:active {
    background-color: var(--blue-color-focus);
}

.social__link:active > .social__icon {
    transition: 0.3s ease;
    opacity: 0.5;
}

.main-footer {
    position: relative;
}

.main-footer__content {
    width: 100%;
    background-color: var(--white-color-footer);
    position: absolute;
    bottom: 0;
    padding: 36px 0;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    align-items: center;
}

.main-footer__phone,
.developer__link {
    color: var(--text-color);
    text-decoration: none;
}

.developer {
    display: grid;
    grid-template: 1fr / repeat(2, auto);
    grid-column-gap: 16px;
    justify-content: center;
    align-items: center;
}

.developer__link {
    position: relative;
    height: 32px;
    width: 116px;
    content: "";
    display: block;
}

.developer__link:hover .developer__logo {
    fill: var(--blue-color-hover);
}

.developer__link:active .developer__logo {
    fill: var(--gray-color-active);
}

.developer__logo {
    width: 100%;
    height: 100%;
}