/* global */
:root {
    --black-color: #000;
    --text-gray-color: #666;
    --blue-color: #81B3D2;
    --blue-color-hover: #669EC0;
    --blue-color-focus: #5496BD;
    --gray-color: #eee;
    --gray-color-active: #BDBBBC;
    --gray-color-btn: #CACACA;
    --gray-color-bg: #F2F2F2;
    --wrapper-shadow-color: rgba(0, 1, 1, 1);
    --brown-color: #766357;
    --brown-color-hover: #604E43;
    --brown-color-active: #503E33;
    --white-color: #fff;
    --white-color-active: rgba(255, 255, 255, 0.5);
    --white-color-footer: rgba(255, 255, 255, 0.9);
    --primary-font: "PT Sans", "Tahoma", sans-serif;

    --transition: 0.2s ease;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Regular.woff2") format("woff2"),
    url("../fonts/PTSans-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

.page {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    background: var(--gray-color-bg);
    font-size: 14px;
    line-height: 27px;
    text-transform: uppercase;
}

.page__body {
    display: flex;
    justify-content: center;
    background: var(--white-color);
}

.wrapper {
    width: 1200px;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    box-shadow: 0 5px 15px 0 var(--wrapper-shadow-color);
}

.title {
    margin: 0;
    padding: 0;
    font-size: 21px;
    font-weight: 700;
}

.subtitle {
    margin: 0;
    padding: 0;
}

.button,
.nav__link,
.social__link,
.social__icon,
.developer__link {
    transition: var(--transition);
}

.button {
    color: var(--white-color);
    list-style-type: none;
    font-size: 21px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
}

.button__md {
    height: 27px;
}

.button__lg {
    width: 568px;
    height: 86px;
}

.button_blue {
    background-color: var(--blue-color);
}

.button_blue:hover {
    background: var(--blue-color-hover);
}

.button_blue:active {
    background: var(--blue-color-focus);
    color: var(--white-color-active);
}

.button_brown {
    background-color: var(--brown-color);
}

.button_brown:hover {
    background: var(--brown-color-active);
}

.button_brown:active {
    background: var(--brown-color-active);
    color: var(--white-color-active);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* header страницы */
.logo {
    position: absolute;
    z-index: 1;
    width: 138px;
    height: 70px;
    left: 50%;
    margin-left: -69px;
    background: url("../img/logo.svg") no-repeat center;
}

.nav__list {
    margin: 0;
    padding: 0;
    min-height: 56px;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav__item {
    width: 25%;
    padding: 14px 0;
    box-sizing: border-box;
}

.nav__item:nth-child(1) {
    padding-left: 72px;
}

.nav__item:nth-child(4) {
    padding-right: 72px;
}

.nav__item:nth-child(1),
.nav__item:nth-child(2) {
    text-align: left;
}

.nav__item:nth-child(3),
.nav__item:nth-child(4) {
    text-align: right;
}

.nav__link {
    font-weight: 700;
    color: var(--black-color);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--blue-color-hover);
}

.nav__link:focus {
    color: var(--brown-color);
}

.nav__link:active {
    color: var(--black-color);
    opacity: 0.5;
}

/*-- первый блок index.html --*/
.intro {
    position: relative;
    height: 508px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: url("../img/welcome/bg-top.png") no-repeat bottom;
}

.intro::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 56px;
    bottom: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='1200' height='57' viewBox='0 0 1200 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 57V0L250 24V0L600 57L950 0V24L1200 0V57H0Z' fill='white'/%3E%3C/svg%3E%0A");
}

.intro__img {
    padding-bottom: 80px;
    display: block;
}

.main-header {
    text-align: center;
}

.main-header__title {
    padding: 42px 0;
}

.main-header__subtitle {
    padding-bottom: 51px;
}

/*-- сетка шагов index.html --*/
.steps {
    display: grid;
    grid-template: 256px 330px 256px 256px / repeat( 3, 1fr);
}

.steps__img {
    grid-column: span 2;
    height: 256px;
}

.steps__img_city {
    background: url("../img/content/city.png") no-repeat;
}

.steps__img_devil {
    background: url("../img/content/devil.png") no-repeat;
}

.card {
    padding: 46px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    line-height: 22px;
}

.card_info {
    padding-bottom: 72px;
}

.card_white-text {
    color: var(--white-color);
}

.card_blue-bg {
    background: var(--blue-color);
}

.card_gray-bg {
    background: var(--gray-color);
}

.card__icon {
    padding-bottom: 28px;
}

.card__title {
    padding-bottom: 25px;
}

.card__number {
    padding-bottom: 22px;
}

.card__subtitle {

    padding-bottom: 8px;
}

.card__text {
    padding-bottom: 38px;
}

.interesting {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
    padding-top: 56px;
}

.interesting__title {
    position: relative;
    left: -6px;
    line-height: 24px;
    font-size: 30px;
    padding-bottom: 32px;
}

.interesting__subtitle {
    line-height: 25px;
    padding-bottom: 42px;
}

/*-- форма поиска index.html--*/
.search-hotel {
    z-index: 1;
    transition: ease 0.5s;
    padding: 50px;
    box-sizing: border-box;
    position: absolute;
    top: -395px;
    height: 395px;
    width: 568px;
    background-color: var(--white-color);
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.search-hotel_active {
    top: 0;
}

.search-hotel input[type=date]::-webkit-calendar-picker-indicator {
    display: none;
}

.search-hotel__row {
    position: relative;
    padding: 15px 0;
    width: 100%;
    display: inline-flex;
    align-items: center;
}

.search-hotel__title {
    padding-right: 30px;
    font-size: 14px;
}


.search-hotel__input {
    box-sizing: border-box;
    height: 38px;
    padding: 0 15px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--gray-color-bg);
    border: none;
}

.search-hotel__input_date {
    width: 346px;
}

.search-hotel__input_count {
    position: relative;
    text-align: center;
    width: 114px;
}

.search-hotel__btm {
    box-sizing: border-box;
    padding: 14px;
    content: "";
    position: absolute;
    display: flex;
    align-items: center;
    width: 38px;
    height: 38px;
    cursor: pointer;
    opacity: 0.5;
    border: none;
}

.search-hotel__btm_minus {
    right: 76px;
}

.search-hotel__btm_plus {
    right: 0;
}

.search-hotel__date-icon {
    position: absolute;
    padding: 0;
    right: 8px;
    width: 21px;
    height: 22px;
    cursor: pointer;
    opacity: 0.5;
    border: none;
}

.search-hotel__wrap {
    width: 100%;
    display: inline-flex;
}

.search-hotel__wrap .search-hotel__row {
    justify-content: space-between;
}

.search-hotel__wrap .search-hotel__row_padding-left {
    justify-content: flex-end;
}

.search-hotel__button {
    width: 100%;
    height: 58px;
}


/*-- footer index.html с картой --*/
.main-footer {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    height: 594px;
    background: url("../img/content/map.png") no-repeat;
}

/*-- filter catalog.html --*/

.head-filter {
    box-sizing: border-box;
    padding: 26px 72px 7px;
    line-height: 21px;
    height: 217px;
    display: flex;
    color: var(--white-color);
    background: url("../img/catalog/bg-filter.png") no-repeat;
}

.head-filter input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.head-filter input[type="checkbox"] + label::before {
    content: url("../img/catalog/checkbox/off.svg");
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    font-size: 26px;
}

.head-filter input[type="checkbox"]:checked + label::before {
    content: url("../img/catalog/checkbox/on.svg");
}

.head-filter input[type="checkbox"]:disabled + label::before {
    opacity: 0.5;
}

.head-filter input[type="checkbox"] + label {
    display: block;
    padding-left: 40px;
    position: relative;
    cursor: pointer;
}

.infrastructure__item,
.house-type__item {
    line-height: 21px;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 25px;
}

.infrastructure,
.house-type {
    width: 256px;
}

.infrastructure__title,
.house-type__title {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 25px;
}

.infrastructure__item,
.house-type__item {
    display: block;
}

.cost {
    position: relative;
    box-sizing: border-box;
    width: 544px;
    padding-left: 216px;
}

.cost__title {
    margin: 0 10px 11px;
    font-size: 16px;
    font-weight: bold;
}

.cost-control {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    margin-left: 10px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    height: 32px;
}

.cost-control::after {
    position: absolute;
    top: 5px;
    left: 50%;
    height: 22px;
    content: "";
    border: 1px solid #ffffff;
}

.cost-control__label {
    display: inline-block;
    height: 34px;
    cursor: pointer;
}

.cost-control__label_from {
    padding-left: 64px;
}

.cost-control__label_to {
    padding-left: 72px;
}

.cost-control__input {
    width: 50px;
    color: inherit;
    font: inherit;
    border: none;
    background: none;
    line-height: 32px;
}

.cost-control__range {
    position: relative;
}

.cost-control__scale {
    height: 2px;
    margin-left: 10px;
    background: rgba(255, 255, 255, 0.3);
}

.cost-control__bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.cost-control__range-toggle {
    position: absolute;
    top: -9px;
    left: 10px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #ffffff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 rgb(0 1 1 / 50%);
}

.cost-control__range-toggle:hover {
    top: -11px;
    border: 10px solid #ffffff;
}

.cost-control__range-toggle_max {
    left: 80%;
}

.filter__button {
    position: absolute;
    right: 95px;
    bottom: 26px;
    padding: 6px 34px;
    text-transform: uppercase;
    color: #ffffff;
    border: 2px solid #ffffff;
    background: none;
    font-size: 14px;
    line-height: 20px;
}

.filter__button:hover {
    background-color: var(--white-color);
    color: var(--black-color);
}

.filter__button:active {
    background-color: var(--gray-color);
}


/*-- Сортировка catalog.html --*/
.sort {
    padding: 28px 73px;
    box-sizing: border-box;
    height: 86px;
    width: 100%;
    display: inline-flex;
    flex-wrap: nowrap;
}

.sort__title {
    display: inline-block;
    height: 26px;
    line-height: 26px;
}

.sort__nav {
    padding-top: 3px;
    display: inline-flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    flex-grow: 1;
}

.sort__nav-title {
    padding-left: 46px;
    height: 18px;
}

.sort__nav-list {
    padding-left: 35px;
    margin: 0;
    height: 18px;
    display: inline-flex;
    list-style-type: none;
    line-height: 18px;
}

.sort__nav-item {
    display: block;
    padding-right: 21px;
    line-height: 20px;
}

.sort__nav-page {
    display: block;
    position: relative;
    top: 4px;
    left: 8px;
}

.sort__btn {
    color: var(--gray-color-btn);
    fill: var(--gray-color-btn);
    height: 18px;
    background: transparent;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 1px dotted var(--blue-color);
}

.sort__btn:hover {
    color: var(--blue-color-hover);
    fill: var(--blue-color-hover);
    border-bottom: none;
}

.sort__btn:active,
.sort__btn_active {
    color: var(--blue-color-hover);
    fill: var(--blue-color-hover);
    border: none;
}

.sort__btn_border-none {
    border-bottom: none;
}

.sort__btn_black-hover:hover {
    fill: var(--black-color);
}

/*-- cекция вывода отелей --*/
.hotel {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hotel__row {
    padding: 0 73px;
    height: 150px;
    display: flex;
    flex-grow: 1;
    line-height: 27px;
    border-top: 1px solid var(--gray-color);
}

.hotel__row:last-child {
    border-bottom: 1px solid var(--gray-color);
}

.hotel__link {
    padding-top: 30px;
    display: block;
}

.hotel__img {
    width: 135px;
    height: 90px;
}

.hotel__img_ars {
    background: url("../img/catalog/hotels/amara-resort-&-spa.png") no-repeat;
}

.hotel__img_dqi {
    background: url("../img/catalog/hotels/desert-quail-inn.png") no-repeat;
}

.hotel__img_vapd {
    background: url("../img/catalog/hotels/villas-at-poco-diablo.png") no-repeat;
}

.hotel__info {
    flex-grow: 1;
    padding: 24px 30px 0;
}

.info__main {
    display: grid;
    grid-template: 1fr 1fr / min-content min-content;
    grid-gap: 13px 6px;
}

.info__link {
    text-decoration: none;
}

.info__title {
    padding-bottom: 5px;
    line-height: 24px;
}

.info__title:hover {
    color: var(--blue-color-hover);
}

.info__title:focus {
    color: var(--brown-color);
}

.info__title:active {
    color: var(--black-color);
    opacity: 0.5;
}

.info__button {
    font-size: 14px;
    padding: 0 16px;
}

.hotel__rate {
    padding: 28px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.rate__wrap {
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
}

.rate__star {
    padding-left: 5px;
    width: 18px;
    height: 18px;
    fill: var(--blue-color);
}

.rate__user-rate {
    color: var(--text-gray-color);
    text-align: right;
    padding-right: 12px;
    width: 98px;
    height: 27px;
    background-color: var(--gray-color-bg);
}

/*-- footer страницы --*/
.page-footer {
    width: 100%;
    line-height: 26px;
    display: grid;
    justify-items: center;
    grid-template-columns: 2fr 1fr 2fr;
    background: var(--white-color-footer);
}

.page-footer_absolute {
    position: absolute;
    bottom: 0;
    height: 120px;
}

.contacts {
    height: 120px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    font-size: 21px;
    font-weight: 700;
    padding-right: 8px;
}

.contacts__hashtag {
    padding-bottom: 10px;
}

.contacts__phone {
    color: var(--black-color);
    text-decoration: none;
    padding-bottom: 36px;
}

.social {
    height: 120px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 46px);
    grid-column-gap: 6px;
}

.social__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    background: var(--blue-color);
}

.social__link:hover {
    background: var(--blue-color-hover);
}

.social__link:focus,
.social__link:active {
    background: var(--blue-color-focus);
}

.social__link:active .social__icon {
    opacity: 0.5;
}

.social__icon {
    display: block;
}

.developer {
    height: 120px;
    display: grid;
    grid-template-columns: 74px 113px;
    grid-column-gap: 15px;
    align-items: center;
    padding-left: 12px;
    font-size: 14px;
}

.developer__link {
    display: block;
    width: 115px;
    height: 33px;
}

.developer__link:hover {
    fill: var(--blue-color-hover);
}

.developer__link:active {
    fill: var(--black-color);
    opacity: 0.5;
}