:root {
    --text-color: #000;
    --blue-color: #81B3D2;
    --blue-hover: #669EC0;
    --blue-button-click: #5496BD;
    --gray-color: #eee;
    --brown-color: #766357;
    --white-color: #fff;
    --primary-font: "PT Sans";
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Regular.woff2") format("woff2"),
    url("../fonts/PTSans-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

.page {
    height: 100%;
}

.page__body {
    display: grid;
    justify-items: center;
    font-family: var(--primary-font);
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    align-items: center;
    box-shadow: black;
}

.header,
.section,
.footer {
    width: 100%;
    max-width: 1200px;
}

.content {
}

.title {
    font-size: 21px;
}

.button {
    width: 568px;
    height: 86px;
    color: var(--white-color);
    list-style-type: none;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;

}

.button_brown {
    background-color: var(--brown-color);
}

.button_blue {
    background-color: var(--blue-color);
}

.header {
    width: 100%;
}

.header__nav {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    list-style: none;
}

.header__link {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    text-transform: uppercase;
}

.header__logo {
    display: block;
    height: 70px;
    width: 138px;
    background: url("../img/logo.svg");
}

.head {
    position: relative;
    z-index: -1;
    top: -15px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template: auto 1fr auto/ 100%;
    background: url("../img/welcome/bg-header.png") no-repeat top/cover;
}

.head__welcome {
    padding: 74px 0 54px 0;
    display: grid;
    grid-row-gap: 12px;
}

.head__img {
    width: 100%;
    display: block;
}

.step {
    display: grid;
    align-items: center;
}

.step__title {
    color: var(--white-color);
    background-color: var(--blue-color);
    grid-template: 1fr / 1fr auto;
}

.step__title_grid-reverse {
    grid-template: 1fr / auto 1fr;
}

.step__info {
    height: 330px;
    grid-template: 1fr / 1fr 1fr 1fr;
}

.step__more {
    height: 256px;
    grid-template: 1fr / 1fr 1fr 1fr;
    background-color: var(--gray-color);
}

.social {
    display: grid;
    grid-template-columns: 46px 46px 46px;
    grid-column-gap: 6px;
    justify-content: center;
    list-style-type: none;
}

.social__link {
    transition: 0.2s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    background-color: var(--blue-color);
}

.social__link:hover {
    background-color: var(--blue-hover);
}

.social__link:active {
    background-color: var(--blue-button-click);
}

.social__link:active > .social__icon {
    transition: 0.2s ease;
    opacity: 0.5;
}

.footer {
    padding: 36px 0;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    align-items: center;
}